<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852201429788-qt0edeihpdr4e69fdnrpqhde9o17rjja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852201429788-qt0edeihpdr4e69fdnrpqhde9o17rjja</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>852201429788-5gflao37lffo0eqifg5jccpo6hr79cha.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDygTUKN-iCw464ikCbeDUPK4ARwG3baZs</string>
	<key>GCM_SENDER_ID</key>
	<string>852201429788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eseo.dubailocal</string>
	<key>PROJECT_ID</key>
	<string>dubailocal-a6a46</string>
	<key>STORAGE_BUCKET</key>
	<string>dubailocal-a6a46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852201429788:ios:c011a70485dd06920cb8d9</string>
</dict>
</plist>